@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/dist/flowbite.min.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  background-color: #f3f4f6;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 1rem;
}

.fontPoppins{
  font-family: 'Poppins', sans-serif;
}